* {
    -webkit-font-smoothing: antialiased;
}

p, h1 {
    font-family: Poly, serif;
}

p {
    font-size: 1.25rem;
}

.banner-pre {
    font-size: 1.15rem !important;
}

.banner-main {
    font-size: 2.85rem;
}

// section top padding
.section-top {
    padding-top: 72px !important;
}

.section-header {
    padding-top: 0px;
}

// navbar styles
.navbar-brand {
    font-family: Poly, serif;
    font-size: 1.45rem;
    font-weight: 500;
}

.navbar-dark {
    .btn-outline-primary {
        border-color: #aead9d;
        color: white;
    }
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #aead9d;
}

.img-effect-info-popup {
    background-color: #2f5f55;
}

// home page
.ql-feature {
    padding: 1.65rem;
    text-decoration: none !important;
    border-bottom: none;
    div {
        padding: 1.95rem 1.65rem;
        transition: all .5s;
        border: 1px solid #2f5f55;
        border-radius: 3px;
        background-color: #2f5f55;
        box-shadow: 0 25px 100px -5px rgba(0,0,0,.15);
        &:hover {
            border: 1px solid #aead9d;
            background-color: #fff;
            h4 {
                color: #aead9d;
            }
        }
        h4 {
            margin-bottom: 0!important;
            color: #fff;
        }
    }
}

#mc_embed_signup_scroll {
    justify-content: center;
}

#tour {
    padding-bottom: 165px;
}

.home-hr {
    margin: 0;
}

// awards
.brand-item {
    height: 200px;
    border: none;
    img {
        height: 5.5rem;
    }
}

// footer
.footer-links {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 16px;
    text-align: left;
    @media screen and (min-width: 868px) {
        justify-content: flex-end;
    }
    li {
        padding: 0 0.65rem;
    }
}

.social-links {
    padding-left: 0;
    list-style: none;
    text-align: left;
    li {
        display: inline-block;
        padding: 0 0.95rem;
        a {
            i {
                font-size: 1.25rem;
                // color: white;
            }
        }
    }
}

.footer-caption {
    color: white;
}
