<!-- Global JS -->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjfUyCzGxdr6XVLrXGFsnSmXywolO7BCo"></script>

<!-- Plugins JS -->
<script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="node_modules/flickity/dist/flickity.pkgd.min.js"></script>
<script src="node_modules/jquery-parallax.js/parallax.min.js"></script>
<script src="node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="node_modules/waypoints/lib/shortcuts/inview.min.js"></script>
<script src="node_modules/fullpage.js/vendors/scrolloverflow.min.js"></script>
<script src="node_modules/fullpage.js/dist/jquery.fullpage.min.js"></script>
<!-- build:js assets/libs/highlight.js/highlight.pack.min.js -->
<script src="assets/libs/highlight.js/highlight.pack.js"></script>
<!-- endbuild -->

<!-- Theme JS -->
<!-- build:js assets/js/theme.min.js -->
<script src="assets/js/theme.js"></script>
<!-- endbuild -->